<h2 align="center"><b>consoleViewItem</b></h2>
A simple console application that displays item information by given Item ID. It
prompts user to enter account information and the Item ID then uses GetItemCall
to retrieve item details from eBay. Please refer to the <a href="../readme.htm">README</a>
of samples for build instructions.